.beneficios {
    padding: 80px 0;
}

.beneficios h2 {
    text-align: center;
    font-size: 2rem;
    color: var(--verde-escuro);
    margin-bottom: 40px;
}

.beneficios p {
    text-align: left;
    color: var(--cinza700);
}

.beneficios-lista {
display: flex;
flex-wrap: wrap;             /* permite quebrar em várias linhas */
justify-content: center;     /* centraliza os itens */
align-items: stretch;        /* 🔑 faz todos os filhos terem a mesma altura */
gap: 2rem;                   /* espaçamento entre os itens */
}

.beneficios-item {
flex: 0 1 calc(33.333% - 2rem); /* 3 colunas */
padding: 20px;
text-align: center;
display: flex;
align-items: center;
gap: 40px;
border: 1px solid transparent;
border-radius: 8px;
background: linear-gradient(white, white) padding-box, linear-gradient(to right, var(--verde-claro), var(--verde-escuro)) border-box;
background-clip: padding-box, border-box;
background-origin: border-box;
transition: transform 0.3s ease, box-shadow 0.3s ease;
min-height: 156px;
/* min-width: fit-content; */
}
  
.beneficios-item .icon-wrapper:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.beneficios-item .icon-wrapper img {
    max-width: 60%;  /* controla o tamanho do ícone dentro do círculo */
    max-height: 60%;
}

.beneficios-item h3 {   
    background: linear-gradient(to right, var(--verde-claro), var(--verde-escuro));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.8rem;
    text-align: left;
}

/* Responsividade */
@media (max-width: 768px) {

    .beneficios {
        padding: 4rem 1.25rem;
    }

    .beneficios-lista {
        grid-template-columns: 1fr; /* Uma coluna em telas menores */
    }

    .beneficios-item {
        flex: 0 1 100%; /* Ocupa toda a largura disponível */
        min-height: 122px;
    }

    .beneficios-item h3 {
        font-size: 1.5rem;
    }
}

@media only screen 
  and (min-width: 768px) 
  and (max-width: 1024px) 
  and (orientation: portrait) { 

    .beneficios-item {
        gap: 20px;
    }

    .beneficios-item h3 {   
        font-size: 1.4rem;
    }
  }
