/* cores.css */

/* Variáveis de cores */
:root {
  --branco: #ffffff;
  --verde-claro: rgba(172, 195, 85, 1);
  --verde-escuro: rgba(30, 188, 85, 1);
  --azul-meio: rgba(0, 159, 222, 1);
  --azul-escuro: rgba(0, 115, 185, 1);
  --azul-claro: rgba(0, 208, 248, 1);

  /* degradê horizontal */
  --degrade-verde: linear-gradient(to right, var(--verde-claro), var(--verde-escuro));
  --preto: #000000;

  /* Escala de cinzas */
  --cinza200: #e5e5e5;
  --cinza300: #d4d4d4;
  --cinza400: #a3a3a3;
  --cinza500: #737373;
  --cinza600: #525252;
  --cinza700: #404040;
  --cinza800: #262626;
  --cinza900: #171717;
}
