/* fundo da página */
.descricao-areas {
    background: #F3F3F3;
    padding: 80px 0;
  }

/* container geral */
.descricao-areas .container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 60px;
}

.areas-titulo {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.areas-titulo h1 {
  font-size: 45px;
  color: var(--verde-escuro);
  font-weight: 700;
}

.areas-titulo h1.titulo-azul {
  color: var(--azul-escuro);
}

.areas-titulo h2  {
  font-weight: 400;
  font-size: 35px;
  margin-bottom: 10px;
  color: #737373;
}

.areas-titulo p  {
  font-weight: 300;
  font-size: 1rem;
  margin-bottom: 10px;
  color: #77787B;
}

#supply, #industrial {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

/* card */
.card-area {
  background: #fff;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
}

/* header do card */

#industrial .card-header {
  background: var(--verde-escuro);
  padding: 1rem 1.5rem;
}

#industrial .card-header.header-degrade {
  background: linear-gradient(to right, var(--verde-claro), var(--verde-escuro));
  padding: 1rem 1.5rem;
}


#supply .card-header.header-degrade {
  background: linear-gradient(to right, var(--azul-claro),  var(--azul-meio), var(--azul-escuro));
  padding: 1rem 1.5rem;
}

#supply .card-header {
  background: var(--azul-meio);
  padding: 1rem 1.5rem;

}

.card-header h3,
.card-header h4 {
  margin: 0;
  color: #fff;
}

.card-header h3 {
  font-size: 30px;
  font-weight: 700;
}

.card-header h4 {
  font-size: 1rem;
  font-weight: 400;
  margin-top: 0.25rem;
  opacity: 0.9;
}

/* corpo do card */
.card-body {
  padding: 1.5rem;
}

.card-body p {
  margin-bottom: 1rem;
  color:#77787b;
}

@media (max-width: 768px) {

  .descricao-areas {
    padding: 4rem 0;
  }

  .descricao-areas .container {
    gap: 30px;
  }

  #supply, #industrial {
    gap: 20px;
  }

  .areas-titulo h1 {
    font-size: 26px;
  }

  .areas-titulo h2  {
    font-size: 22px;
  }

  .card-header h3 {
    font-size: 20px;
  }

}