.intro {
  min-height: 100vh;
  background: linear-gradient(
    to right,
    var(--verde-claro) 30%,  /* verde claro ocupa 60% */
    var(--verde-escuro) 100%
  );
    padding: 100px 40px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden; 
  position: relative;
}

.decoracao {
  position: absolute;
  width: 896px;
  height: auto;
  opacity: 0.6;
  z-index: 0;
  pointer-events: none; /* não atrapalha cliques */
}

.decoracao-bottom-left {
  bottom: 0;
  left: 0;
}

.decoracao-top-right {
  top: 0;
  right: 0;
  transform: rotate(180deg);
}



.intro_texto {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: var(--branco);
  z-index: 0;
  position: relative;
}

.intro_texto h1 {
  font-size: 3rem;
  font-weight: 300;
  margin-bottom: 20px;
  z-index: 1;
}

.retangulo-decorativo {
  position: absolute;
  top: 75px;
  left: 0px;
  width: 600px;
  height: auto;
  border-radius: 16px;
  z-index: 0;
  overflow: hidden;
}


.intro_texto h1 strong {
  font-weight: 600;
  z-index: 1;
  text-shadow: 4px 4px 12px rgba(0,0,0,0.4);
}

.intro_texto p {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 30px;
  max-width: 500px;
  z-index: 1;
}

.cta-button {
  z-index: 5;
  position: relative;
}

.cta-button a {
  background: var(--branco);
  color: var(--verde-claro);
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  padding: 1rem 2rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  min-width: 280px; 
  max-width: 350px;
  white-space: nowrap;  
  z-index: 1;
}
  
.cta-button a:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}


.intro_imagem img {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  max-width: 60%;
  z-index: 3;
}

.intro_selo img {
  position: absolute;
  bottom: 0;
  right: 10%;
  max-width: 30%;
  z-index: 1;
}


/* Responsividade */
@media (max-width: 900px) {
  
  .intro {
    padding: 0;
    /* justify-content: flex-start; */
  }

  .intro .container {
    padding: 0 20px;
    margin-bottom: 120px;
  }

  .intro_texto {
    text-align: center;
    max-width: 100%;
    justify-content: center;
  }

  .intro_texto h1 {
    font-size: 2.5rem;
  }
  
  .intro_texto p {
    font-size: 1.2rem;
    margin: 0 auto 30px;
  }
  
  .intro_imagem {
    justify-content: center;
  }

  .intro_imagem img {
    right: -50px;
    max-width: 100%;
  }
}
