.pre-requisitos {
 padding: 0;
}

.pre-requisitos-card {
    background: linear-gradient(to right, var(--verde-claro), var(--verde-escuro));
    border-radius: 16px;
    padding: 40px;
    text-align: center;
    /* transition: transform 0.3s ease, box-shadow 0.3s ease; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}


.pre-requisitos-card img {
    flex: 1;
    border-radius: 16px;   
    width: 100%;
    max-width: 500px;
    height: auto;
    margin-left: -60px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.pre-requisitos-conteudo {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
}

.pre-requisitos-card h2 {
    color: var(--branco);
    margin-bottom: 10px;
    text-align: left;
}  

.pre-requisitos-card p {
    color: var(--branco);
    text-align: left;
}

.pre-requisitos-card li strong {
    font-weight: 500;
    display: inline;
}
  
.lista-pre-requisitos {
    display: flex;
    flex-direction: column; /* mantém os itens em coluna */
    gap: 16px; /* ajuste o valor conforme o espaço desejado */
    list-style-type: none;
    text-align: left;
    color: var(--branco);
}

.lista-pre-requisitos li {
    display: flex;
    align-items: flex-start; /* alinha o ícone no topo do texto */
    justify-content: flex-start;
    gap: 8px; /* espaço entre o ícone e o texto */
  }
  
  .lista-pre-requisitos li svg {
    flex-shrink: 0;   /* impede o SVG de encolher */
    width: 22px;      /* garante tamanho fixo */
    height: 22px;     /* garante tamanho fixo */
  }
  


  @media (max-width: 768px ) {   

    .pre-requisitos {
        background: #F3F3F3;
        padding-bottom: 4rem;
    }

    .pre-requisitos-card {
        flex-direction: column;
        text-align: center;
        padding: 20px;
    }

    .pre-requisitos-card img {
        margin: 0;
        width: 100%;
    }

    .pre-requisitos-card h2 {
        font-size: 1.5rem;
    }

    .pre-requisitos-card p {
        font-size: 1rem;
    }

    .pre-requisitos-card ul {
        padding: 0;
    }
  }

  @media only screen 
  and (min-width: 768px) 
  and (max-width: 1024px) 
  and (orientation: portrait) {

    .pre-requisitos-card {
        flex-direction: column;
        padding: 40px;
    }

    .pre-requisitos-card img  {
        max-width: none;
        margin-left: 0;
    }
  }